#header {
    margin-top: 52px;
    height: auto;
    font-size: 32pt;
    background-color: #96e796;
    text-align: center;
}

html {
    -webkit-text-stroke: 0.5px black;
    background-color: #96e796;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#li {
    float: left;
}

#li #a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
#li #a:hover {
    background-color: #111;
}

.active {
    background-color: cornflowerblue;
    font-weight: bold;
}

#li {
    border-right: 1px solid #bbb;
}

#li:last-child {
    border-right: none;
}


#nagłówek {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.flex {
    list-style: none;

}


footer {
    text-align: left;
    padding: 3px;
    background-color: #369136;
    display: block;
    color: white;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    background-color: lightcyan;
    padding: 10px;
}

#link, #btn {
    color: black;
    background-color: #D3D3D3;
    text-decoration: none;
    height: 2em;
    padding: 3px 6px;
    margin: 10px 0;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

.main {
    background-color: paleturquoise;
}

/*tabele*/
* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    flex: 50%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #96e796;
}

th {
    background-color: #369136;
    color: white;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(odd) {
    background-color: #96e796;
}

div, h1 {
    background-color: #a6eea6;
    outline-color: green;
    box-shadow: #96e796;
}

button {
    background-color: #96e796;
}

#username{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
