header {
    height: auto;
}

#header {
    margin-top: 52px;
    height: auto;
    font-size: 32pt;
    background-color: #96e796;
    text-align: center;
}


html {
    background-color: paleturquoise;
    -webkit-text-stroke: 0.5px black;
    background-size: cover;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

#li #a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
#li #a:hover {
    background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: cornflowerblue;
    font-weight: bold;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

#li {
    border-right: 1px solid #bbb;
}

#li:last-child {
    border-right: none;
}

#nagłówek {
    color: white !important;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: -50px;
    margin-top: 50px;
    background-color: #a6eea6;
}

.center {
    margin-left: 25vw;
    margin-bottom: 100px;
    margin-top: 40px;
    width: 50%;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    background-color: lightcyan;
    padding: 10px;
    text-align: justify;
}

.flex {
    list-style: none;
}

footer {
    text-align: left;
    padding: 3px;
    background-color: cornflowerblue;
    display: block;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    -webkit-text-stroke: 0.5px black;
}

.main {
    background-color: paleturquoise;
}

#content-main {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 571px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#nazwa {
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
}

#logowanie {
    display: block;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 50%;
    padding: 14px 16px;
    text-decoration: none;
    background-color: cornflowerblue;
    font-weight: bold;
    border-radius: 4px;
    -webkit-text-stroke: 0.5px black;
}

#logowanie:hover {
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}

#username {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

#link, #btn {
    color: black;
    background-color: #D3D3D3;
    text-decoration: none;
    height: 2em;
    padding: 3px 6px;
    /*margin: 10px 0;*/
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
}


.error {
    color: red;
    font-weight: bolder;
    filter: brightness(200%);
    list-style: none;
    text-decoration: none;
    animation: blinkingError 2s infinite;
    margin-top: 50px;
    margin-right: 10px;
    font-size: larger;
    max-width: 300px;
    text-align: justify;
}

@keyframes blinkingError {
    0% {
        color: white;
    }

    20% {
        color: red;
    }

    40% {
        color: white;
    }

    60% {
        color: red;
    }

    80% {
        color: white;
    }

    100% {
        color: red;
    }
}

.success {
    color: green;
    font-weight: bolder;
    filter: brightness(200%);
    animation: blinkingSuccess 2s infinite;
    list-style: none;
    text-decoration: none;
    margin-top: 50px;
    margin-right: 10px;
    font-size: larger;
    max-width: 300px;
    text-align: justify;
}

@keyframes blinkingSuccess {
    0% {
        color: white;
    }

    20% {
        color: green;
    }

    40% {
        color: white;
    }

    60% {
        color: green;
    }

    80% {
        color: white;
    }

    100% {
        color: green;
    }
}

/*tabele*/

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    flex: 50%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    border: 1px solid #96e796;
    margin-bottom: 10vh;
}

th {
    background-color: #369136;
    color: white;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(odd) {
    background-color: #96e796;
}

@media only screen and (max-width: 1000px) {
    #nagłówek {
        color: white !important;
        padding-top: 10px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-left: -50px;
        margin-top: 150px;
        background-color: #a6eea6;
    }

    #content-main {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        display: block;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        width: 100vw;
        height: 100vh;
    }


    #header {
        margin-top: 114px;
    }
}


.button {
    display: inline-block;
    padding: 15px 25px;
    /*font-size: 14px;*/
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-weight: bolder;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.time {
    margin-top: 2px;
    background: rgb(12, 12, 12);
    color: #fff;
    border: 2px solid rgb(255, 252, 252);
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 8px;
    text-align: center;
    width: 200px;
    font-weight: bolder;
}

.hms {
    font-size: 10pt;
    font-weight: bolder;
}

.date {
    font-size: 10pt;
}

textarea {
    border-radius: 5px;
    width: 100%;
    height: 10vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#docHeader {
    height: auto;
    font-size: 32pt;
    background-color: #32bae3;
    text-align: center;
    font-weight: bolder;
    color: white;
    /*display: inline-block;*/
    vertical-align: middle;
    line-height: normal;

}

#docH2 {
    height: 35px;
    text-align: left;
    font-size: 16pt;
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width: 1920px) {

    .columnR {
        margin-bottom: 10vh;
        max-width: 300px;
        margin-left: 150px;
        flex: 50%;
        padding: 5px;
    }

}