{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Edycja profilu{% endblock title %}

{% block content %}
    <div class="main">
        <h1 id="nagłówek" style="margin-top: 100px">Edycja profilu, zmień poniższe pola</h1>
        <div class="center">
            <form method="post" action="{% url 'editProfile' %}">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-success" style="margin-top: 2px; color: black">Zatwierdź zmianę
                </button>
                <a href="{% url 'profile' %}">
                    <button type="button" style="margin-top: 2px; color: black" class="btn btn-info">Wróć</button>
                </a>
            </form>
        </div>
    </div>
{% endblock content %}