{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}O przychodni{% endblock title %}

{% block content %}
<div class="main">
    <div class="center"style="margin-top: 100px">
        Niepubliczna Specjalistyczna Poradnia Psychologiczno Pedagogiczna “ISTMUS” w Rzeszowie to Poradnia
        psychologiczno-pedagogiczna znajdująca się na Lenartowicza nr 9 kod pocztowy 35-051 poczta Rzeszów. Kontakt i nr
        telefonu do Niepublicznej Specjalistycznej Poradnini Psychologiczno Pedagogiczna “ISTMUS” w Rzeszowie to
        537536538,
        fax: . To Poradnia psychologiczno-pedagogiczna ma adres strony internetowej stowarzyszeniebruno.pl. Regon:
        36287474400000, Nr RSPO: 129781, patron , Nr RSPO jednostki sprawozdawczej 129781, regon jednostki
        sprawozdawczej 36287474400000. Wielkość klas: 2, uczniów 0, nauczycieli 0.
    </div>
</div>
{% endblock content %}