<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Przychodnia{% endblock title %}</title>
    <!-- Plik/pliki css + linki do bootstrapa-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="{% static 'img/doctor.png' %}">
</head>
<body onload="initClock()">
<!--Pasek nawigacji-->

<header>
    <ul id="ul">
        <li id="li"><a id="a" href="{% url 'homepage' %}">Strona domowa</a></li>
        <li id="li"><a id="a" href="{% url 'contact' %}">Kontakt</a></li>
        {% if user.is_authenticated %}
            <li id="li" style="float:right"><a id="a" href="{% url 'logout' %}">Wyloguj</a></li>
            <li id="li" style="float:right"><a id="a" href="{% url 'profile' %}">Profil</a></li>
            {% if user.customer.userType == 'DOC' %}
                <li id="li" style="float:right"><a id="a" href="{% url 'patientsList' %}">Wykaz
                    pacjentów</a></li>
            {% endif %}
            <li id="li" style="float:right"><a id="a" href="{% url 'doctorsList' %}">Spis specjalizacji</a></li>
        {% endif %}
        {% if not user.is_authenticated %}
            <li id="li" style="float:right"><a id="a" href="{% url 'register' %}">Rejestracja</a>
            </li>
            <li id="li" style="float:right"><a id="a" href="{% url 'login' %}">Zaloguj się</a>
        {% endif %}
        <li id="li" style="float:right"><a id="a" href="{% url 'about' %}">O Przychodni</a></li>
        {% if user.is_authenticated %}
            <li id="username">Zalogowano jako {{ user.username }}</li>
        {% endif %}
    </ul>
</header>
<aside style="float: right">
    <!--digital clock start-->
    <div style="margin-top: 10vh; margin-right: 1vw" class="datetime">
        <div class="date">
            <span id="dayname">Day</span>,
            <span id="month">Month</span>
            <span id="daynum">00</span>,
            <span id="year">Year</span>
        </div>
        <div class="time">
            <span id="hour">00</span>:
            <span id="minutes">00</span>:
            <span id="seconds">00</span>
            <span id="period">AM</span>
        </div>
    </div>
    <!--digital clock end-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</aside>

{% block content %}{% endblock content %}

<!--Stopka-->
<footer>
    <p>Specjalistyczna Poradnia Psychologiczno-Pedagogiczna ISTMUS</p>
</footer>
<script type="text/javascript">
    function updateClock() {
        var now = new Date();
        var dname = now.getDay(),
            mo = now.getMonth(),
            dnum = now.getDate(),
            yr = now.getFullYear(),
            hou = now.getHours(),
            min = now.getMinutes(),
            sec = now.getSeconds()

        if (hou == 0) {
            hou = 12;
        }

        Number.prototype.pad = function (digits) {
            for (var n = this.toString(); n.length < digits; n = 0 + n) ;
            return n;
        }

        var months = ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień",
            "Wrzesień", "Październik", "Listopad", "Grudzień"];
        var week = ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"];
        var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
        var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2)];
        for (var i = 0; i < ids.length; i++)
            document.getElementById(ids[i]).firstChild.nodeValue = values[i];
    }

    function initClock() {
        updateClock();
        window.setInterval("updateClock()", 1);
    }
</script>
</body>
</html>