{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Zmiana hasła{% endblock title %}

{% block content %}
    <div class="main">
        <div id="nagłówek" style="margin-top: 100px">Uzupełnij poniższe pola aby zmienić hasło</div>
        <div class="center">
            <form method="post" action="{% url 'changePassword' %}">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button style="border-radius: 5px;margin-top: 2px" type="submit">Zapisz zmianę</button>
            </form>
        </div>
    </div>
{% endblock content %}