{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Zmiana hasła{% endblock title %}

{% block content %}
    <div class="main">
        <div id="nagłówek" style="margin-top: 100px">Uzupełnij poniższe pola aby zmienić hasło</div>
        <div class="center">
            <form method="post" action="{% url 'changePassword' %}">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button style="margin-top: 2px; color: black" class="btn btn-success" type="submit">Zapisz zmianę</button>
                <a href="{% url 'profile' %}">
                    <button type="button" style="margin-top: 2px; color: black" class="btn btn-info">Wróć</button>
                </a>
            </form>
        </div>
    </div>
{% endblock content %}