<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Kontakt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="{% static 'img/doctor.png' %}">
</head>
<body>
<header></header>
<ul>
    <li><a href="{% url 'Przychodnia-home' %}">Strona domowa</a></li>
    <li><a class="active" href="{% url 'Przychodnia-contact' %}">Kontakt</a></li>
    <li style="margin-left: 25%; border-right: none;"><h1 id="nagłówek">Kontakt</h1></li>
    {% if user.is_authenticated %}
        <li id="li" style="float:right"><a id="a" href="{% url 'Przychodnia-profil' %}">Profil</a></li>
    {% else %}
        <li style="float:right"><a href="{% url 'Przychodnia-register' %}">Rejestracja</a></li>
        <li style="float:right"><a href="{% url 'Przychodnia-login' %}">Zaloguj się</a></li>
    {% endif %}
    <li style="float:right"><a href="{% url 'Przychodnia-about' %}">O Przychodni</a></li>
    {% if user.is_authenticated %}
        <li id="username">Zalogowano jako {{ user.username }}</li>
    {% endif %}
</ul>
</header>
<div class="main">
    <div class="center">
        <p>ul. Teofila Aleksandra Lenartowicza 9</p>
        <p>35-051 Rzeszów</p>
        <p>tel. 537 536 538</p>
    </div>
</div>
<footer>
    <p>Specjalistyczna Poradnia Psychologiczno-Pedagogiczna ISTMUS</p>
</footer>
</body>
</html>