{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Wykaz specjalistów{% endblock title %}

{% block content %}
    <h1 style="margin-left: 2%; margin-top: 3%">Wykaz specjalistów:</h1>
    <table>
        <tr>
            <th style="margin-right:0 ">Numer Specjalisty</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Specjalizacja</th>
        </tr>

        {% for doctor in specializations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ doctor.doctor.name }}</td>
                <td>{{ doctor.doctor.surname }}</td>
                <td>{{ doctor.specializations }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock content %}