{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Spis specjalizacji{% endblock title %}

{% block content %}
    <h1 id="nagłówek">Spis specjalizacji:</h1>
    <table>
        <tr>
            <th>Numer Specjalizacji</th>
            <th>Nazwa specjalizacji</th>
            <th></th>
        </tr>

        {% for specialization in specializations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ specialization }}</td>
                <td>
                    <a href="{% url 'showAvailableTerms' %}"><button class="button">Pokaż terminy</button></a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock content %}