{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Strona główna{% endblock title %}

{% block content %}
    <div class="main">
        </br>
        </br>
        </br>
        {% load static %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="content-main" style="background-image: url('{% static "img/lekarze.jpg" %}');
                background-repeat: no-repeat;">
            <p id="nazwa">Witamy w systemie rejestracji do Specjalistycznej Poradni Psychologiczno-Pedagogicznej
                ISTMUS</p>
            {% if user.is_authenticated %}
            {% else %}
                <a id="logowanie" href="{% url 'login' %}">Zaloguj się</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}