{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Strona główna{% endblock title %}

{% block content %}
    <div class="main">
        </br>
        </br>
        </br>
        {% load static %}
        <div id="content-main" style="background-image: url('{% static "img/lekarze.jpg" %}');
                background-repeat: no-repeat;
                background-size: contain;">
            <p id="nazwa">Witamy w systemie rejestracji do Specjalistycznej Poradni Psychologiczno-Pedagogicznej
                ISTMUS</p>
            {% if user.is_authenticated %}
            {% else %}
                <a id="logowanie" href="{% url 'login' %}">Zaloguj się</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}