{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Profil{% endblock title %}

{% block content %}
    <div id="header">Witaj {{ customer.name }} {{ customer.surname }}</div>
    <div style=" display: flex;
    justify-content: space-between;">
        <h2>&nbsp;Twoje dane</h2>
        {% if user.customer.userType == 'PAT' %}<h2 style="margin-right:38%">Twoje wizyty</h2>{% endif %}
    </div>
    <aside style="float: right; margin-right: -30px;">
        <div class="card text-white bg-success mb-3"
             style="max-width: 170px; -webkit-text-stroke: 0.5px white; margin-left: 40%;">
            <div class="card-header">Typ użytkownika:</div>
            <div class="card-body">
                <h5 class="card-title">{{ customer.displayUserType }}</h5>
                <p class="card-text"
                   style="font-size: 6pt">Jeśli się nie zgadza skontaktuj się z administratorem.</p>
            </div>
        </div>
        <a style="text-decoration: none;" id="a" href="{% url 'doctorsList' %}">
            {% if user.customer.userType == 'PAT' %}
                <button class="btn btn-info" style="margin-left: 40%; width: 170px; border-radius: 5px"
                        onclick="zapisNaWizyte()">
                    Zapisz się na wizytę
                </button>{% endif %}
        </a>
        {% if user.customer.userType == 'DOC' %}
            <a id="a" href="{% url 'doctorProfile' %}">
                <button style="margin-left: 40%; margin-top: 2px; width: 170px;" class="btn btn-warning">Panel lekarza
                </button>
            </a>
        {% endif %}
        {% if user.customer.userType == 'ADM' %}
            <a id="a" href="{% url 'admin:index' %}">
                <button style="margin-left: 40%; margin-top: 2px; width: 170px;" class="btn btn-warning">Panel
                    administratora
                </button>
            </a>
        {% endif %}
        <a id="a" href="{% url 'logout' %}">
            <button class="btn btn-info" style="margin-left: 40%; width: 170px;  border-radius: 5px; margin-top: 2px"
                    onclick="logout()">Wyloguj
            </button>
        </a>
        <div style="margin-left: 40%;"><a id="a" href="{% url 'contact' %}">
            <button class="btn btn-info" style=" width: 170px;  border-radius: 5px; margin-top: 2px" type="button">
                Kontakt
            </button>
        </a></div>
        <div style="margin-left: 40%;"><a href="{% url 'changePassword' %}">
            <button class="btn btn-info" style=" width: 170px;  border-radius: 5px; margin-top: 2px" type="button">
                Zmiana hasła
            </button>
        </a></div>
        <div style="margin-left: 40%;"><a href="{% url 'editProfile' %}">
            <button class="btn btn-info" style=" width: 170px;  border-radius: 5px; margin-top: 2px" type="button">
                Edycja profilu
            </button>
        </a></div>
    </aside>
    <div class="row" style="margin-bottom: 10px;">
        <div class="column" style="max-width: 300px">
            <table>
                <tr>
                    <th>Etykieta</th>
                    <th>Dane</th>
                </tr>
                <tr>
                    <td>Imię</td>
                    <td>{{ customer.name }}</td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td>{{ customer.surname }}</td>
                </tr>
                <tr>
                    <td>Pesel</td>
                    <td>{{ customer.pesel }}</td>
                </tr>
                <tr>
                    <td>Numer telefonu</td>
                    <td>{{ customer.telephoneNumber }}</td>
                </tr>
                <tr>
                    <td>Ulica</td>
                    <td>{{ customer.street }}</td>
                </tr>
                <tr>
                    <td>Miasto</td>
                    <td>{{ customer.city }}</td>
                </tr>
                <tr>
                    <td>Kod pocztowy</td>
                    <td>{{ customer.zipCode }}</td>
                </tr>
                <tr>
                    <td>Nazwa użytkownika</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Hasło</td>
                    <td><a class="btn btn-info" href="{% url 'changePassword' %}">Zmień</a>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Typ użytkownika</td>
                    <td>{{ customer.displayUserType }}</td>
                </tr>
                <tr>
                    <td>Data dołączenia</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                <tr>
                    <td>Data ostatniego udanego logowania</td>
                    <td>{{ user.last_login }}</td>
                </tr>
            </table>
        </div>
        {% if user.customer.userType == 'PAT' %}
            <div class="columnR" style="margin-bottom: 10vh; ">
                <table style="min-width: 567.5px">
                    <tr>
                        <th>Numer wizyty</th>
                        <th>Lekarz</th>
                        <th>Cel wizyty</th>
                        <th>Termin</th>
                        <th>Pokój</th>
                        <th></th>
                    </tr>
                    {% for visit in visits %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ visit.term.doctor.name }} {{ visit.term.doctor.surname }}
                                {{ visit.specializationName }}</td>
                            <td>{{ visit.purpose }}</td>
                            <td>{{ visit.term.date }}</td>
                            <td>{{ visit.term.room }}</td>
                            <td>
                                <a href="{% url 'cancelVisit' visit.pk %}">
                                    <button class="btn btn-danger" style="color: black">Odwołaj</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
            </div>
        {% endif %}
    <br>

    <script>
        function logout() {
            console.log("Wylogowywanie");
        }

        function zapisNaWizyte() {
            console.log("Zapis na wizytę");
        }
    </script>
{% endblock content %}
