{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Rejestracja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="{% static 'img/doctor.png' %}">
</head>
<body onload="document.rejestracja.focus()">
<header>
    <ul id="ul">
        <li id="li"><a id="a" href="{% url 'Przychodnia-home' %}">Strona domowa</a></li>
        <li id="li"><a id="a" href="{% url 'Przychodnia-contact' %}">Kontakt</a></li>
        <li id="li" style="float:right"><a id="a" class="active" href="{% url 'Przychodnia-register' %}">Rejestracja</a>
        </li>
        <li id="li" style="float:right"><a id="a" href="{% url 'Przychodnia-login' %}">Zaloguj się</a>
        </li>
        <li id="li" style="float:right"><a id="a" href="{% url 'Przychodnia-about' %}">O Przychodni</a></li>
    </ul>
</header>
<div class="main">
    <h1 id="nagłówek">Rejestracja</h1>
    <div class="center">
        <div id="formularz">
            <form method="POST" enctype="multipart/form-data" name="rejestracja">
                {% csrf_token %}
                {{ form|bootstrap }}
                <label for="rpass">Powt&#243;rzone has&#322;o</label>
                <input class=" form-control" maxlength="40" type="password" id="rpass" name="rpass" size=20 maxsize=50 required/><br/>
                <li class="form-group">
                    <button type="submit" style="border-radius: 5px" name="rejestracja" id="przycisk"
                            onclick="ValidateEmail();EqualPasswords()">
                        Zarejestruj
                    </button>
                </li>
                <li class="form-group">
                    <p>
                        Masz ju&#380; konto?
                        <a id="link" href="{% url 'Przychodnia-login' %}">Logowanie</a>
                    </p>
                </li>
                </ul>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<footer>
    <p>Specjalistyczna Poradnia Psychologiczno-Pedagogiczna ISTMUS</p>
</footer>
</body>
<script>
    function ValidateEmail() {
        input = document.getElementById("id_Email");
        var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        if (input.value.match(validRegex)) {
            console.log("Email poprawny");
            return true;
        } else {
            alert("Niepoprawny adres Email!");
            return false;
        }
    }

    function EqualPasswords() {
        var pass = document.getElementById("id_Haslo").value;
        var rpass = document.getElementById("rpass").value;
        if (pass !== rpass) {
            alert("Hasła nie są takie same");
            return false;
        } else if (pass === rpass) {
            console.log("Hasła takie same");
            return true;
        }
    }
</script>
</html>