{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Dostępne terminy{% endblock title %}

{% block content %}
    <h1 id="nagłówek">Dostępne terminy dla {{ specialization }}:</h1>
    <table>
        <tr>
            <th>Numer Specjalisty</th>
            <th>Termin</th>
            <th>Imię i nazwisko lekarza</th>
            <th>Pokój</th>
            <th></th>
        </tr>

        {% for term in terms %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ term.date }}</td>
                <td>{{ term.doctor.name }} {{ term.doctor.surname }}</td>
                <td>{{ term.room }}</td>
                <td>
                    <a href="{% url 'makeVisit' term.id %}"><button class="button">Zapisz się</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}