{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Wykaz pacjentów{% endblock title %}

{% block content %}
<h1 style="margin-left: 2%; margin-top: 3%">Wykaz pacjentów:</h1>
<table>
    <tr>
        <th>Numer pacjenta</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Pesel</th>
        <th>Ulica</th>
        <th>Miasto</th>
        <th>Kod Pocztowy</th>
    </tr>

    {% for pacjent in pacjenci %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ pacjent.Imie }}</td>
            <td>{{ pacjent.Nazwisko }}</td>
            <td>{{ pacjent.Pesel }}</td>
            <td>{{ pacjent.Ulica }}</td>
            <td>{{ pacjent.Miasto }}</td>
            <td>{{ pacjent.KodPocztowy }}</td>
        </tr>
    {% endfor %}

</table>
{% endblock content %}