{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Wykaz specjalistów{% endblock title %}

{% block content %}
<h1 style="margin-left: 2%; margin-top: 3%">Wykaz specjalistów:</h1>
<table>
    <tr>
        <th>Numer Specjalisty</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Specjalizacja</th>
    </tr>

    {% for lekarz in specjaliści %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ lekarz.Imie }}</td>
            <td>{{ lekarz.Nazwisko }}</td>
            <td>{{ specjalizacja.IdSpecjalizacji }}</td>
            {#            specjalizacja#}
        </tr>
    {% endfor %}

</table>
{% endblock content %}