{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Logowanie{% endblock title %}

{% block content %}
    <div class="main" style="height: 100%; margin-top: 53px;">
        <h1 id="docHeader">Logowanie</h1>
        <div class="center">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ authenticationForm|bootstrap }}
                <button style="margin-top: 1%; border-radius: 5px; color: black" class="btn btn-success" type="submit">
                    Zaloguj
                </button>
                <p style="margin-top: 10px">
                    Nie masz konta?
                    <a href="{% url 'register' %}" class="btn btn-info">Rejestracja</a>
                    <a href="{% url 'password_reset' %}" class="btn btn-info">Zapomniałeś hasła?</a>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}