{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Reset hasła{% endblock title %}

{% block content %}
    <div class="main">
        <div class="center" style="margin-top:100px">
            <div>
                <h2>Mail z resetem hasła został wysłany.</h2>
                <h3>Jeśli go nie widzisz sprawdź folder spam.</h3>
            </div>
            <a href="{% url 'login' %}">
                    <button type="button" style="margin-top: 2px; color: black" class="btn btn-info">Wróć do logowania</button>
                </a>
        </div>
    </div>
{% endblock content %}