{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Reset hasła{% endblock title %}

{% block content %}
    <div class="main">
        <div class="center" style="margin-top:100px">
            <form method="post">
                <h2>Zapomniałeś hasła?</h2>
                <h3>Podaj swój adres email a zostanie wysłany Ci mail z instrukcjami do zmiany hasła.</h3>
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" style="margin-top:10px" class="btn btn-info" value="Potwierdź">
            </form>
        </div>
    </div>
{% endblock content %}