{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Rejestracja{% endblock title %}

{% block content %}
    <div class="main" style="height: 100%; margin-top: 53px;">
        <h1 id="docHeader">Rejestracja</h1>
        <div class="center">
            <form method="post" action="{% url 'register' %}">
                {{ userForm|bootstrap }}
                {{ customerForm|bootstrap }}
                {% csrf_token %}
                <button type="submit" style="margin-top: 5px; color: black" class="btn btn-success"
                        onclick="EqualPasswords()">Zarejestruj
                </button>
                <p>
                    Masz ju&#380; konto?
                    <a href="{% url 'login' %}" class="btn btn-info">Logowanie</a>
                </p>
            </form>
        </div>
    </div>
    <script>
        function EqualPasswords() {
            var pass = document.getElementById("id_password1").value;
            var rpass = document.getElementById("id_password2").value;
            if (pass !== rpass) {
                alert("Hasła nie są takie same");
                return false;
            } else if (pass === rpass) {
                console.log("Hasła takie same");
                return true;
            }
        }
    </script>
{% endblock content %}